<h1> Welcome! </h1>

<div class="container">
    <h3>Welcome {{ name }}. You can manage your todos <a routerLink="/todos"> here </a> </h3>
</div>

<div class="container">
    Click here to get a customized welcome message
    <button (click)="getWelcomeMessageWithPathVariable()" class="btn btn-success">Get welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService ">
    Your customized welcome message is {{ welcomeMessageFromService }}
</div>

<div class="alert alert-danger " *ngIf='errorMessageFromService'>
    {{ errorMessageFromService }}
 </div>